@import "tailwindcss";

@theme {
  --color-fondo: #020b1a;
  --color-superficie: #0a1730;
  --color-borde: #16294a;
  --color-primario: #0a84ff;
  --color-acento: #00d4ff;
  --color-texto: #ffffff;
  --color-texto-suave: #9fb3c8;
}